$color-background: #1e212c;
$color-background-dark: #191c26;
$color-surface: #2a2e3e;
$color-menu: #121314;

$color-blue: #0075ff;
$color-blue-dark: #005bc7;
$color-yellow: #ffe195;
$color-green: #00ad84;
$color-red: #ff4040;

$color-text: #ffffff;

$color-input: #353a4d;
$color-outline: #384150;
