@import '../../styles/colors.scss';

.button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  padding: 0;

  .dots {
    opacity: 0.3;
    position: relative;
    z-index: 2;
  }

  &:focus {
    opacity: 1 !important;
    z-index: 1001;
  }

  &:hover,
  &:focus {
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $color-menu;
      opacity: 0.6;
      z-index: 1;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    .dots {
      opacity: 0.8;
    }
  }

  &.open {
    .actions {
      right: 5px;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.dots {
  height: 40px;
  width: 40px;
  background-image: url(../../images/dots.svg);
  background-size: contain;
}

.actions {
  background-color: $color-menu;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 10px;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: -100vw;
  color: $color-text;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 150ms, transform 150ms;

  :global(a) {
    padding: 6px 25px 6px 15px;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
    border-radius: 6px;
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
      background-color: $color-blue;
    }
  }
}
