@import '../../../styles/colors.scss';

.select {
  position: relative;
  display: block;
  background-color: $color-input;
  border-radius: 8px;

  &:before {
    content: '';
    position: absolute;
    z-index: 10;
    right: 12px;
    top: 21px;
    width: 13px;
    height: 8px;
    background-image: url(../../../images/arrow.svg);
  }

  &.hasError {
    border-color: $color-red !important;

    select {
      &:focus {
        box-shadow: 2px 4px 10px 0 transparentize($color-red, 0.9);
      }
    }
  }

  select {
    position: relative;
    z-index: 2;
    appearance: none;
    background: none;
    height: 50px;
    padding: 0 30px 0 15px;
    color: white;
    width: 100%;
    border: 1px solid $color-outline;
    border-radius: 8px;

    &:focus {
      border-color: $color-blue;
      outline: none;
      box-shadow: 2px 4px 10px 0 transparentize($color-blue, 0.9);
      text-decoration: none !important;
    }
  }
}
